<%- include('partials/header') %> 


    <form action="/" method="POST" class="form-signup">
      <img
        class="mb-4"
        src="https://images.unsplash.com/photo-1542546068979-b6affb46ea8f?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"
        alt=""
        width="72"
        height="72"
      />

      <h1 class="h3 mb-3 font-weight-normal">Sign Up To My Newsletter</h1>

      <input
        type="text"
        class="form-control top"
        placeholder="First Name"
        name="firstName"
        autofocus
      />

      <input
        type="text"
        class="form-control middle"
        placeholder="Last Name"
        name="lastName"
      />

      <input
        type="email"
        class="form-control bottom"
        placeholder="Email"
        name="email"
        required
      />

      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Sign Me Up
      </button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
    </form>
  
<%- include('partials/footer') %> 